.introduction-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: var(--primary-color);
}

.introduction-container {
  max-width: 1200px;
}
