.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  height: 150px;
  font-family: var(--font-family);
  font-weight: var(--font-regular);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 50px;
}

.navbar-logo {
  flex-shrink: 0;
  color: var(--secondary-color);
}

.navbar-links {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.navbar-link {
  color: var(--secondary-color);
  padding: 0px 30px;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: var(--hover-color);
}

.navbar-btn {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-btn:hover {
  color: var(--hover-color);
}
