@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --font-light: 200;
  --font-regular: 400;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-family: "Plus Jakarta Sans", sans-serif;
  --primary-color: #262626;
  --secondary-color: #cccccc;
  --secondary-color-opacity-20: rgba(204, 204, 204, 0.2);
  --hover-color: #ffffff;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: var(--primary-color);
}

.container {
  max-width: 1200px;
}

h1 {
  color: var(--secondary-color);
  font-family: var(--font-family);
  font-weight: var(--font-regular);
  font-size: 60px;
}
