@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --font-light: 200;
  --font-regular: 400;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-family: "Plus Jakarta Sans", sans-serif;
  --primary-color: #262626;
  --secondary-color: #cccccc;
  --secondary-color-opacity-20: rgba(204, 204, 204, 0.2);
  --hover-color: #ffffff;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  height: 150px;
  font-family: var(--font-family);
  font-weight: var(--font-regular);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 50px;
}

.navbar-logo {
  flex-shrink: 0;
  color: var(--secondary-color);
}

.navbar-links {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.navbar-link {
  color: var(--secondary-color);
  padding: 0px 40px 0px 0px;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: var(--hover-color); /* Change color on hover */
}

.navbar-btn {
  all: unset;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 20px 40px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  transition: color 0.3s, background-color 0.3s;
}

.navbar-btn:hover {
  color: var(--hover-color);
  background-color: var(--secondary-color-opacity-20);
  cursor: pointer;
}
